body {
  margin: 0px;
  padding: 0px;
  background: #f3f5fc;
}

.imagenLogo {
  position: relative;
  margin-top: 40px;
  margin-left: 40px;
  height: 48px;
  width: 70px;
}
.titulo {
  float: inherit;
  margin-left: 20px;
}
.contenedor {
  margin: auto;
  height: 1024px;
  width: 1440px;
  left: -2277px;
  padding: 5px;
  background: #f3f5fc;
}

.contenedor-texto {
  display: inline;
  width: 60%;
}

.contenedor-desencriptar {
  display: inline;
  width: 30%;
}
.contenedorDerecha {
  position: relative;
  float: left;
  right: 0px;
  top: -83px;
  width: 320px;
  border-radius: 20px;
  height: 647px;
  background: rgb(255, 255, 255);
}

.mensajeEncriptado {
  font-size: 20px;
  bottom: 680px;
  left: 43px;
  width: 100%;
  padding: 10px;
}

.imagenEncriptar {
  position: relative;
  width: 100%;
  height: 100%;
}
.contenedorImagen {
  width: 100%;
  height: 100%;
}
.imagenEncriptar {
  position: relative;
  width: 100%;
  height: 100%;
}

.contenedorBotones {
  position: relative;
  float: left;
  top: 675px;
  width: 70%;
  height: auto;
}

.contenedorTexto {
  position: relative;
  width: 50%;
  height: 48px;
  left: 221px;
  top: 110px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  background: #f3f5fc;
  outline: none;
  color: #4d5157;
  border: none;
}

.parrafo {
  position: relative;
  left: 200px;
  top: -210px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}
.botonesEn {
  position: relative;
  margin-left: 15px;
  left: 176px;
  top: -210px;
  padding: 24px;
  gap: 8px;
  width: 300px;
  height: 60px;
  background: #0a3871;
  border-radius: 24px;
  flex: none;
  color: white;
  order: 0;
  flex-grow: 0;
}

.botonesDes {
  position: relative;
  left: 176px;
  top: -210px;
  margin-left: 15px;
  padding: 24px;
  gap: 8px;
  width: 300px;
  height: 60px;
  background: #d8dfe8;
  border-radius: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.botonCopiar {
  position: absolute;
  left: 35px;
  top: 542px;
  margin-left: 15px;
  padding: 10px;
  gap: 8px;
  width: 222px;
  height: 54px;
  background: #d8dfe8;
  border-radius: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.botonLimpiar {
  position: relative;
  left: 260px;
  top: -754px;
  margin-left: 15px;
  padding: 10px;
  gap: 8px;
  width: 71px;
  height: 54px;
  background: #d8dfe8;
  border-radius: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

@media screen and (max-width: 480px) {
  .contenedor {
    width: auto;
  }
  .contenedor-texto {
    width: 100%;
    display: inline-block;
  }

  .contenedorTexto {
    position: absolute;
    left: 35px;
    width: 100%;
  }
  .contenedo-logo {
    display: inline-block;
  }
  .contenedor-desencriptar {
    position: absolute;
    left: 35px;
    top: 856px;
    display: block;
    width: auto;
    height: 30%;
  }

  .contenedorBotones {
    display: block;
    height: 20%;
    width: 100%;
  }

  .botonLimpiar {
    position: relative;
    left: 80px;
    top: -780px;
  }
  .botonesDes {
    float: left;
    display: inline-block;
    width: 40%;
    top: -129px;
  }
  .botonesEn {
    float: right;
    display: inline-block;
    width: 40%;
    position: absolute;
    left: 0px;
    top: -90px;
  }

  .parrafo {
    position: relative;
    left: 30px;
    top: -150px;
  
  }
  .contenedorImagen {
    position: relative;
    display: block;
  }
}
